<h3><i class="fas fa-book" ></i> Tell-Tales</h3>
 <div class="section">
      <p class="lead" >Create and read interesting stories!</p>
 </div>
 <div class="divider"></div>
 <div class="section">
     <a href="/auth/google" class="btn red darken-4">
         <i class="fab fa-google left"> Login with Google</i>
     </a>
 </div>